/* Login.css */
html, body {
  height: 100%;
  margin: 0;
}

.login-container {
  background-color: beige;
  text-align: center;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

form div {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the input fields */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the password container */
  position: relative; /* Position relative for the icon */
}

.show-password-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
}

button:hover {
  background-color: #218838;
}

.errors {
  color: red;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}